<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empresa.ejercicio1" >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_title" >

        </activity>
        <activity
            android:name=".FotosActivity"
            android:label="@string/title_activity_fotos"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".CiudadesActivity"
            android:label="@string/lista_ciudades" >
        </activity>
        <activity
            android:name=".CiudadSeleccionadaActivity"
            android:label="@string/title_activity_ciudad_seleccionada" >
        </activity>
        <activity
            android:name=".PaisesActivity"
            android:label="@string/title_activity_paises" >

        </activity>
        <activity
            android:name=".Paises2Activity"
            android:label="@string/title_activity_paises2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContinentesActivity"
            android:label="@string/title_activity_continentes" >

        </activity>
    </application>

</manifest>
